<h1> Please Enter email address to send verification link </h1>

<form method="POST" action="/generatepassword">

    <input type="email" name="email">

    <button type="submit"> Send Verification Link </button>

</form>