<form method="POST" action="/addmember">
    <input type="hidden" name="household" value="{{household}}">
   Enter email address  <input type="email" name="email">

    <button type="submit"> Send Invitation </button>
</form>