<form action="/processLogin1" method="POST" id="headerForm">


    Username <input type="text" name="uname" id="uname"> <br>

    Password &nbsp;<input type="password" name="pword">

    <button onclick="submit" id="btn"> Login</button>

    <a href="/forgotpassword"> Click here if you forgot password </a>


</form>

