{{#each payment}}
    <h2>{{paymentType}} </h2>
    {{paymentDue}} <br>
    {{paymentDate}} <br>
    <a href="/memberinfo/{{paymentId}}"> Click here to view the details of the payment </a> <br> <br>
{{/each}}