<form action="/quiz1" method="POST">

<h1> Please choose one of the following values </h1>

<input type="checkbox" name='q1' value="this is the first value"> <br>
<input type="checkbox" name='q1' value="this is the second value"> <br>

<h2> Please choose another set of values </h2>

<input type="checkbox" name="q2" id="test2" value="just checking"> <br>
<input type="checkbox" name="q2" id="test3" value="another checking"> <br>


<button type="submit"> Click here to submit </button>



</form>