<form action="/resetpass" method="POST" id="headerForm">

    <input type="hidden" name="username" value="{{username}}">

    Password &nbsp;<input type="password" name="pword">

    Re Enter Password <input type="password" name="pword2">

    <button onclick="submit" id="btn"> Reset Password </button>



</form>

