<form action="/testcheckinghere" method="POST">

    <input type="checkbox" name="test" value="check1"> <br>
    <input type="checkbox" name="test" value="check2"> <br>
    <input type="text" name="test">
    <button type="submit"> Submit </button>



</form>